[Unit]
Description=Planted Pi ATO Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/planted-pi-services --service=ato
Restart=on-failure
WorkingDirectory=/usr/bin

[Install]
WantedBy=multi-user.target
