[Unit]
Description=Planted Pi Fertilizer Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/planted-pi-services --service=fertilizer
Restart=on-failure
WorkingDirectory=/usr/bin

[Install]
WantedBy=multi-user.target
